@media only screen and (min-width: 995px) {
  .about {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
  }

  .article-title {
    font-weight: bold;
    font-size: 3.8vw;
    align-items: center;
    text-align: center;
  }

  .about-content .about-article {
    margin-top: 5%;
    align-items: center;
    text-align: center;
    font-size: 1.7vw;
    margin-bottom: 5%;
  }

  .about-content img {
    display: none;
  }

  .about-article .show {
    text-decoration: none;
    font-weight: bold;
  }

  .about-article .show:hover {
    text-decoration: underline;
  }

  .section-button {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .btn-hire {
    padding: 10px 40px 10px 40px;
    border-radius: 10px;
    font-weight: 550;
    font-size: 1.8vw;
    letter-spacing: 2%;
    border: none;
    background: linear-gradient(to right, #4ea0d7, #472ac0);
    transition: 0.5s;
  }

  .btn-hire:hover {
    background: linear-gradient(to left, #4ea0d7, #472ac0);
  }

  .btn-resume {
    padding: 10px 40px 10px 40px;
    font-weight: 550;
    font-size: 1.8vw;
    letter-spacing: 2%;
    text-decoration: none;
    color: inherit;
    border: 1px solid #4fb7da;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .btn-resume:hover {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
    border-left: transparent;
    background: linear-gradient(to left, #4ea0d7, #472ac0);
  }

  .title-skill {
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: auto;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 15%;
    letter-spacing: 0.1em;
    opacity: 0.99;
    width: 100%;
  }

  .skills li {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: auto;
    list-style: none;
    align-items: center;
    text-align: center;
  }
}

@media only screen and (max-width: 995px) {
  .about {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #e3e3e3;
    margin-top: 50px;
  }

  .article-title {
    align-items: center;
    text-align: center;
    font-family: "DM Sans", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 5vw;
    line-height: auto;
  }

  .about-content {
    margin-top: 5%;
  }

  .about-content img {
    display: block;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
    float: left;
    margin-right: 3%;
  }

  .about-content .about-article {
    align-items: center;
    text-align: justify;
    font-size: 3.7vw;
    line-height: auto;
    margin-bottom: 5%;
  }

  .section-button {
    display: flex;
    flex-direction: row;
    gap: 5%;
  }

  .btn-hire {
    padding: 10px 7% 10px 7%;
    border-radius: 10px;
    font-weight: 550;
    font-size: 3.8vw;
    letter-spacing: 2%;
    border: none;
    background: linear-gradient(to right, #4ea0d7, #472ac0);
    transition: 0.5s;
  }

  .btn-hire:hover {
    background: linear-gradient(to left, #4ea0d7, #472ac0);
  }

  .btn-resume {
    padding: 10px 7% 10px 7%;
    font-weight: 550;
    font-size: 3.8vw;
    letter-spacing: 2%;
    text-decoration: none;
    color: inherit;
    border: 1px solid #4fb7da;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .btn-resume:hover {
    text-decoration: none;
    color: inherit;
    border: 1px solid transparent;
    border-left: transparent;
    background: linear-gradient(to left, #4ea0d7, #472ac0);
  }

  .title-skill {
    align-items: center;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: auto;
    text-align: center;
    margin-bottom: 20px;
  }

  .skills {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px;
    gap: 8%;
    letter-spacing: 0.1em;
    opacity: 0.99;
  }

  .skills li {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    list-style: none;
    align-items: center;
    text-align: center;
  }
}
