@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@media only screen and (min-width: 600px) {
  .contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
    color: #e3e3e3;
    gap: 100px;
    padding-top: 138px;
    padding-bottom: 100px;
  }

  .contact h3 {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: auto;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .article-contact,
  .main-contact {
    text-align: left;
    font-size: 20px;
  }

  .main-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .main-contact a {
    text-decoration: none;
    color: #e3e3e3;
  }

  .contact-tools {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
    border: 1px solid whitesmoke;
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .contact-tools i {
    font-size: 55px;
    color: #828282;
  }

  .contact-tools:hover {
    transform: translate(11px, -11px);
  }
}

@media only screen and (max-width: 600px) {
  .contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #e3e3e3;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact h3 {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .article-contact,
  .main-contact {
    text-align: left;
    font-size: 13px;
  }

  .main-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .main-contact a {
    text-decoration: none;
    color: #e3e3e3;
  }

  .contact-tools {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
    border: 1px solid whitesmoke;
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .contact-tools i {
    font-size: 44px;
    color: #828282;
  }

  .contact-tools:hover {
    transform: translate(9px, -9px);
  }
}
