@media only screen and (min-width: 995px) {
  .contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-top: 150px;
    gap: 5vw;
    padding-top: 15%;
    padding-bottom: 15%;
  }

  .contact h3 {
    font-weight: bold;
    font-size: 3.8vw;
    letter-spacing: 0.2vw;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.2vw;
  }

  .article-contact,
  .main-contact {
    text-align: left;
    font-size: 1.7vw;
  }

  .icon-contact {
    display: flex;
    flex-direction: column;
    gap: 1.2vw;
    margin-top: 5%;
  }

  .article-contact .icon-contact a {
    text-decoration: none;
  }

  .contact-tools {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
    align-items: center;
    transition: 0.5s ease;
  }

  .contact-tools a {
    font-size: 3vw;
    border: 1px solid black;
    border-radius: 50%;
    width: 13%;
    padding: 1%;
    background: linear-gradient(to bottom, #4ea0d7, #472ac0);
    box-shadow: -2px -4px 12px #4ea0d7;
    text-align: center;
    transition: 0.5s;
  }

  .contact-tools a:hover {
    box-shadow: none;
  }

  .main-contact {
    display: flex;
    flex-direction: column;
    gap: 1.5vw;
    justify-content: center;
  }
}

@media only screen and (max-width: 995px) {
  .contact {
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
    color: #e3e3e3;
    gap: 40px;
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .contact h3 {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: auto;
  }

  .contact-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
  }

  .article-contact,
  .main-contact {
    text-align: left;
    font-size: 13px;
  }

  .main-contact {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }

  .main-contact a {
    text-decoration: none;
    color: #e3e3e3;
  }

  .contact-tools {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: end;
    border: 1px solid whitesmoke;
    padding: 5px 5px 5px 15px;
    border-radius: 10px;
    transition: 0.5s ease;
  }

  .contact-tools i {
    font-size: 44px;
    color: #828282;
  }

  .contact-tools:hover {
    transform: translate(9px, -9px);
  }
}
