@media only screen and (min-width: 995px) {
  .firstPage {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-top: 20%;
    margin-bottom: 10%;
  }

  .image {
    width: 50%;
    display: grid;
    place-items: center;
    padding: 20px;
  }

  .image .main-profile {
    opacity: 0.9;
    border: 1px solid whitesmoke;
    width: 30vw;
    height: 30vw;
    border-radius: 50%;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: end;
    width: 50vw;
    gap: 20px;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 4px;
  }

  .main-text .hi {
    font-size: 2.5vw;
  }
  .main-text .intro {
    font-size: 5.5vw;
  }
  .main-text .intro .name {
    color: #4fb7da;
  }

  .main-text .tag {
    font-size: 4vw;
    font-weight: bold;
    letter-spacing: 4px;
    margin-top: -20px;
  }

  .article {
    font-size: 1.7vw;
  }
  .icons {
    display: flex;
    width: 100%;
    gap: 6%;
  }

  .icons a {
    color: #b3b1b1;
    font-size: 1.7vw;
    padding: 2.5%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #4ea0d7, #472ac0);
  }
}

@media only screen and (max-width: 995px) {
  .firstPage {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30%;
  }

  .image {
    display: none;
    place-items: center;
    padding: 0 0 20px 0;
  }

  .image .main-profile {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid whitesmoke;
    background: #d9d9d9;
  }

  .article-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5vw;
  }

  .main-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
  }

  .main-text .hi {
    font-size: 5vw;
  }
  .main-text .intro {
    font-size: 12vw;
  }
  .main-text .intro .name {
    color: #4fb7da;
  }

  .main-text .tag {
    font-size: 7vw;
    font-weight: bold;
    letter-spacing: 2px;
    margin-top: -5px;
  }

  .article {
    text-align: center;
    font-size: 3.7vw;
  }

  .icons {
    display: flex;
    width: 100%;
    gap: 6%;
    justify-content: center;
  }

  .icons a {
    color: #b3b1b1;
    font-size: 3.7vw;
    padding: 2.5%;
    border-radius: 50%;
    background: linear-gradient(to bottom, #4ea0d7, #472ac0);
  }
}
