@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap");
@media only screen and (min-width: 995px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
    z-index: 999;
    background-color: #101630;
  }

  .nav-brand {
    font-family: "Poppins", sans-serif;
    font-size: 4.2vw;
    letter-spacing: 2px;
    color: #4fb7da;
  }

  /* navigasi */

  .navbar-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4vw;
    opacity: 0.99;
  }

  .navbar-nav .navigate {
    font-weight: bold;
    font-size: 1.2vw;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.1em;
    transition: 0.3s;
    color: #e1e4ed;
  }

  .navbar-nav .navigate:hover {
    color: #95a5a6;
  }

  .btn-nav {
    display: none;
  }
}
@media only screen and (max-width: 995px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 1% 5% 1% 5%;
    z-index: 999;
    background-color: #101630;
  }
  .btn-nav {
    background-color: transparent;
    border: none;
    color: #e1e4ed;
    font-size: 7vw;
  }
  .nav-brand {
    font-size: 7vw;
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
    color: #4fb7da;
  }

  .offcanvas {
    background-color: #101630;
  }
  .offcanvas .offcanvas-title {
    font-size: 7vw;
    font-family: "Poppins", sans-serif;
    color: #4fb7da;
  }

  .offcanvas-body .nav-item .nav-link {
    color: inherit;
    font-weight: bold;
    font-size: 3.7vw;
  }
}
