@media only screen and (min-width: 600px) {
  .review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #ffffff;
    margin-top: 118px;
  }

  .review .title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: auto;
    justify-content: center;
  }

  .content {
    display: flex;
    gap: 3%;
    flex-wrap: wrap;
  }
  .content img {
    width: 40%;
    opacity: 0.99;
    border: 1px solid #000000;
    box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
  }
  .article-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex: 50%;
  }

  .title-page {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: auto;
    margin-bottom: 20px;
    color: #828282;
  }

  .article-review p {
    /* font-family: "Times New Roman", Times, serif; */
    font-style: normal;
    font-size: 20px;
    line-height: auto;
  }

  hr {
    border: 5px solid #212121;
    border-radius: 5px;
    opacity: 0.99;
    box-shadow: -5px -5px 10px rgb(0, 0, 0, 0.66);
    width: 100%;
    margin-top: 50px;
  }

  .client-name {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: auto;
    align-items: center;
    color: #828282;
  }
}

@media (max-width: 800px) {
  .content img,
  .article-review {
    flex: 100%;
  }
}

@media only screen and (max-width: 600px) {
  .review {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
    gap: 20px;
    color: #ffffff;
    margin-top: 50px;
  }

  .review .title {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    justify-content: center;
  }

  .review img {
    width: 100%;
    opacity: 0.99;
    box-shadow: -15px -15px 50px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
  }

  .content {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
  }

  .article-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: justify;
  }

  .title-page {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    margin-bottom: 20px;
    color: #828282;
  }

  .article-review p {
    /* font-family: "Times New Roman", Times, serif; */
    font-style: normal;
    font-size: 12px;
    line-height: auto;
  }

  hr {
    border: 3px solid #212121;
    border-radius: 5px;
    opacity: 0.99;
    box-shadow: -5px -5px 50px rgb(0, 0, 0, 0.66);
    width: 100%;
  }

  .client-name {
    font-family: "DM Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: auto;
    align-items: center;
    color: #828282;
  }
}
