@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap");
@media only screen and (min-width: 600px) {
  .i-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    color: white;
    margin-top: 50px;
  }

  .second-title {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 62px;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 30px;
  }

  .row p {
    font-family: "DM Sans", sans-serif;
  }

  .col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 0px 0px 50px;
    width: 350px;
    height: 241px;
    background: #212121;
    opacity: 0.99;
    border-radius: 10px;
    gap: 30px;
  }

  .col p {
    font-style: normal;
    font-weight: 500;
    font-size: 38px;
    line-height: 49px;
    align-items: center;
    color: #828282;
  }

  .col img {
    width: 45px;
    height: 46.47px;
  }
}

@media only screen and (max-width: 600px) {
  .i-do {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: white;
    margin-top: 20px;
  }

  .second-title {
    font-style: normal;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    text-align: center;
  }

  .row {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .row p {
    font-family: "DM Sans", sans-serif;
  }

  .col {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 15px 0px 0px 15px;
    gap: 10px;
    width: 124px;
    height: 100px;
    background: #212121;
    opacity: 0.99;
    border-radius: 10px;
  }

  .col p {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    align-items: center;
    color: #828282;
  }

  .col img {
    width: 21px;
    height: 16px;
  }
}
