@media only screen and (min-width: 995px) {
  .review {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 18%;
  }

  .review .title {
    font-size: 5vw;
    text-align: center;
    font-weight: bold;
  }

  .content {
    display: flex;
    gap: 2vw;
  }
  .content img {
    width: 25vw;
    border-radius: 1.2vw;
  }

  .article-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .article-review .tag-title {
    font-size: 1.7vw;
  }

  .title-page {
    font-weight: bold;
    font-size: 3.5vw;
    line-height: auto;
    margin-bottom: 2%;
    color: #4ea0d7;
  }

  .article-review .content-page {
    font-size: 1.7vw;
  }

  hr {
    border: 5px solid #212121;
    border-radius: 5px;
    box-shadow: -5px -5px 10px #4ea0d7, -5px -5px 20px #472ac0;
    width: 100%;
    margin-top: 5%;
  }

  .client-name {
    font-weight: bold;
    font-size: 2.5vw;
    color: #4ea0d7;
  }
}

@media (max-width: 800px) {
  .content img,
  .article-review {
    flex: 100%;
  }
}

@media only screen and (max-width: 995px) {
  .review {
    display: flex;
    flex-direction: column;
    gap: 1vw;
    margin-top: 20%;
  }

  .review .title {
    font-size: 6vw;
    text-align: center;
    font-weight: bold;
  }

  .content {
    display: flex;
    flex-wrap: wrap-reverse;
    gap: 2vw;
  }
  .content img {
    display: none;
  }

  .article-review {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .article-review .tag-title {
    font-size: 3.5vw;
  }

  .title-page {
    font-weight: bold;
    font-size: 4.9vw;
    line-height: auto;
    margin-bottom: 2%;
    color: #4ea0d7;
  }

  .article-review .content-page {
    font-size: 3.7vw;
  }

  hr {
    border: 0.8vw solid #212121;
    border-radius: 5px;
    box-shadow: -5px -5px 10px #4ea0d7, -5px -5px 20px #472ac0;
    width: 100%;
    margin-top: 5%;
  }

  .client-name {
    font-weight: bold;
    font-size: 4.5vw;
    color: #4ea0d7;
  }

  .client-position {
    font-size: 3.7vw;
  }
}
