@media only screen and (min-width: 768px) {
  .btn-back-show {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .btn-back-show .btn-back {
    padding: 0.2vw 2vw;
    font-weight: bold;
    font-size: 4.5vw;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(to left, #4ea0d7, #472ac0);
    border-radius: 0 0 2.5vw 0;
    transition: 0.5s ease;
  }

  .btn-back-show .btn-back:hover {
    background: linear-gradient(to right, #4ea0d7, #472ac0);
  }

  .show-about {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .show-about .img-top-main {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }

  .show-about-article {
    display: flex;
    flex-direction: row;
    gap: 1.5vw;
  }

  .show-about-article .side-content {
    flex-basis: 85vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 60vh;
    max-height: 100vh;
    position: sticky;
    top: 0;
    padding: 5vw 0 0 0;
  }

  .side-content .about-introduce {
    display: flex;
    flex-direction: column;
    font-weight: bold;
    letter-spacing: 2px;
  }

  .side-content .hi-about {
    font-size: 2.5vw;
  }
  .side-content .intro-about {
    font-size: 4.9vw;
  }
  .side-content .intro-about .name-about {
    color: #4fb7da;
  }

  .side-content .tag-about {
    font-size: 3.2vw;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -10px;
  }
  .side-content .content-about-article {
    font-size: 1.7vw;
  }

  .icons-show-about {
    position: sticky;
    bottom: 0;
    display: flex;
    width: 100%;
    gap: 5%;
    justify-content: start;
    align-items: center;
    padding: 0 0 1.2vw 0;
  }

  .icons-show-about a {
    color: #b3b1b1;
    font-size: 1.7vw;
    padding: 2.5%;
    border-radius: 1.2vw;
    background: linear-gradient(to bottom, #4ea0d7, #472ac0);
  }

  .show-about-article .main-content {
    flex-basis: 120vw;
    padding: 5vw 0 0 0;
    font-size: 1.7vw;
  }
}

@media only screen and (max-width: 768px) {
  .btn-back-show {
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
  }

  .btn-back-show .btn-back {
    padding: 2vw 3.8vw;
    font-weight: bold;
    font-size: 4vw;
    text-decoration: none;
    color: inherit;
    background: linear-gradient(to left, #4ea0d7, #472ac0);
    border-radius: 0 2.5vw 2.5vw 0;
    transition: 0.5s ease;
  }

  .btn-back-show .btn-back:hover {
    background: linear-gradient(to right, #4ea0d7, #472ac0);
  }

  .show-about {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }

  .show-about .img-top-main {
    height: 35vh;
    width: 100%;
    object-fit: cover;
  }

  .show-about-article {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 1.5vw;
  }

  .show-about-article .side-content {
    flex-basis: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5vw 0 0 0;
  }

  .side-content .about-introduce {
    display: flex;
    flex-direction: column;
    font-weight: bold;
  }

  .side-content .hi-about {
    font-size: 4vw;
  }
  .side-content .intro-about {
    font-size: 10.8vw;
  }
  .side-content .intro-about .name-about {
    color: #4fb7da;
  }

  .side-content .tag-about {
    font-size: 7vw;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: -5vw;
  }
  .side-content .content-about-article {
    font-size: 3.7vw;
  }

  .icons-show-about {
    display: flex;
    width: 100%;
    flex-basis: 25%;
    gap: 6%;
    flex-direction: column;
    justify-content: center;
    align-items: end;
  }

  .icons-show-about a {
    color: #b3b1b1;
    font-size: 3.7vw;
    padding: 2.5% 5%;
    border-radius: 1.2vw;
    background: linear-gradient(to bottom, #4ea0d7, #472ac0);
  }

  .show-about-article .main-content {
    flex-basis: 120vw;
    padding: 5vw 0 0 0;
    font-size: 3.7vw;
  }
}
