@media only screen and (min-width: 995px) {
  .my-portfolio {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 13% 0 0 0;
  }

  .article-portfolio-title {
    text-align: center;
    font-weight: bold;
    font-size: 3.8vw;
  }

  .my-words {
    font-size: 2vw;
  }

  .list-portfolio {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 0.5%;
    padding: 4% 0 4% 0;
  }
}
@media only screen and (max-width: 995px) {
  .my-portfolio {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding: 13% 0 0 0;
  }

  .article-portfolio-title {
    text-align: center;
    font-weight: bold;
    font-size: 5vw;
  }

  .my-words {
    font-size: 3.7vw;
  }

  .list-portfolio {
    display: flex;
    flex-direction: column;
    gap: 5vw;
    margin-top: 0.5%;
    padding: 4% 0 4% 0;
  }
}
